[2018-01-28 15:08] handicraftsman opened #2 "When will you generate a release (github one)?"

[2018-01-29 05:18] arun11299 commented on #2
Hello,
I have not done release management to any of my repositories :)
I have though created a pull request for this library to be included in the main jsonwebtoken repository and will take some time to get accepted.
If you think it would be useful to have a release version for this library, then I will certainly look into that.

Thanks!

[2018-03-30 13:12] DEGoodmanWilson commented on #2
Hello! Seconded for the version tagging. I'm building a conan package for this library, and it would be lovely if that package could be versioned rather than always building off of master.

[2018-03-30 13:38] DEGoodmanWilson opened #3 "Building example code fails"
Hello! I'm running into issues compiling the example code near the top of the readme.
System information: OS X 10.13.3, clang Apple LLVM version 9.0.0 (clang-900.0.39.2)

I get a series of errors, all variants on the same thing: Member access into incomplete types:

[code]

I'm building against openssl 1.1.0g, installed via Conan (hence the crazy paths above).

[2018-03-31 05:05] arun11299 commented on #2
Hello @DEGoodmanWilson
I have just created a release v1.0. Let me know if that works for you.

Thanks !!

[2018-03-31 05:11] arun11299 commented on #3
Hello @DEGoodmanWilson
Thanks for trying it out.
I have tested this library only against OpenSSL version "1.0.2j". Would it be possible for you to upgrade  as well ?

[2018-03-31 07:35] DEGoodmanWilson commented on #3
Unfortunately, `1.0.2j` is a downgrade from the `1.1.0x` series—not an upgrade. Unfortunately, my own code relies on newer versions of OpenSSL so downgrading isn't an option for me personally. It might be for others though.

[2018-03-31 07:36] DEGoodmanWilson commented on #2
Awesome, thank you!

Could I perhaps push you a little, and convince you of the virtues of [SemVer](https://semver.org/)?

[2018-03-31 07:40] DEGoodmanWilson commented on #2
Apologies, it looks like the tag you created didn't make it up to GitHub—I can't see it 😞

[2018-03-31 07:44] DEGoodmanWilson commented on #3
(If you read my deleted comment, ignore it). It looks like this is no problem at all! I'm going to move to a slightly newer version `1.0.2n`. (Also, `1.0.2x` is a _downgrade_ from `1.1.0x`, FWIW, not an upgrade.. But everything I'm using depends on `1.0.2x` so it's fine with me!)

[2018-03-31 07:44] #3 closed

[2018-03-31 08:05] arun11299 commented on #2
@DEGoodmanWilson
Gosh...I released another library cpp-subprocess instead of cpp-jwt.

[2018-03-31 08:07] arun11299 commented on #2
@DEGoodmanWilson
Done now for sure.
As for SemVer, I need to do some reading on that. Could you create an issue if you think that would be useful ?

Thanks a lot!

[2018-03-31 08:07] #2 closed

[2018-03-31 08:25] DEGoodmanWilson opened #4 "Use SemVer for versioning"
Use [SemVer](https://semver.org/) for versioning. SemVer is designed to help developers and systems to consume dependencies make informed and automated decisions about which version of a dependecy tonuse, by encoding the nature of API changes into the structure of the version number. It’s super useful for package managers like Conan, so developers can create policies stipulating when—and when not—

[2018-04-02 01:03] tkaplan opened #5 "Openssl make does not work"
This seems to be a big problem with a lot of other projects so I'm surprised it hasn't been reported here yet.

I'm getting make errors like so...
[code]

Is there a fix for this?

[2018-04-02 05:55] arun11299 commented on #5
Hello,
Thanks for reporting.
Can you tell me which openssl version are you using. The library has been tested only with 1.0.2j version.
Also, it would be helpful if you can paste the commands you are using to build.

Thanks.

[2018-04-02 05:59] arun11299 commented on #5
Also, I know few people who are actually using this library, but have not faced this issue.

[2018-04-03 12:08] DEGoodmanWilson commented on #5
I encountered this issues too in #3 . Looks like you're using openssl 1.1.0, which isn't compatible. You'll need to use openssl 1.0.2.

[2018-04-03 12:13] DEGoodmanWilson opened #6 "Help using RSA public/private keypairs to sign"
I've created an RSA keypair in PEM format to use with signing/verifying JWTs. However, OpenSSL doesn't like them—I get a failure at
https://github.com/arun11299/cpp-jwt/blob/3ae6dfa2c51f63313d72b3cda794dc6ed3e628de/include/jwt/impl/algorithm.ipp#L207
`PEM_read_bio_PrivateKey()` is returning `NULL`

Code:
[code]

The `obj.signature()` is, of course, the call that is failing, throwing a `AlgorithmEr

[2018-04-03 12:34] arun11299 commented on #5
@tkaplan @DEGoodmanWilson I could reproduce the issue using latest openssl version. From google search it seems that it has broken builds of quite a lot of libraries.
I will provide a fix for it soon.

Thanks.

[2018-04-04 05:42] arun11299 opened #7 "Print SSL errors on signing/verification failures"
TODO

[2018-04-04 06:03] arun11299 commented on #6
@DEGoodmanWilson
I have added a new example under examples which shows how to create and use RSA key.
Example name is simple_ex3_rsa.cc

Also make sure you are using the right openssl version. I was able to work with the created RSA key pair.

[2018-04-04 06:03] #6 closed

[2018-04-04 07:10] DEGoodmanWilson commented on #6
For reference, I'm using OpenSSL 1.0.2n at the moment. I'll look at your new example, and see if downgrading OpenSSL helps after that. 🙇‍♂️

[2018-04-04 08:32] arun11299 commented on #5
@tkaplan @DEGoodmanWilson
I have pushed the changes for the referenced errors. Let me know if you still see the issues with the openssl version that you are using.

Thanks.

[2018-04-04 08:32] #5 closed

[2018-04-07 12:24] arun11299 opened #8 "Fix the JWT logo"
Logo not visible

[2018-04-07 12:25] #8 closed

[2018-04-07 13:58] arun11299 commented on #4
@DEGoodmanWilson
If I have understood it correct, I am using semantic versioning now.
Released latest 1.0.1 !

[2018-04-07 13:58] #4 closed

[2018-04-07 16:05] DEGoodmanWilson commented on #4
🙌

[2018-04-20 06:58] gramic opened #9 "Fix tests to compile"
Currently at least test_jwt_decode.cc has errors.
I am able to fix them, but it was suspicious to find that they do not compile. Are you plannig to keep them working?

[2018-04-20 07:08] arun11299 commented on #9
Hello @gramic
Can you give some more information about the failure ? Specifically:
1. Compile time errors
2. Platform
3. OpenSSL version

Thanks.

[2018-04-20 07:12] gramic commented on #9
I did not provide the error because it is too simple. However, here it is

`include/jwt/test/test_jwt_decode.cc:17:32: error: too few arguments to function call, expected 3, have 2
  auto res = sgn.encode(hdr, jp);`

[2018-04-20 08:29] arun11299 commented on #9
Ah...I see it now. These are internal tests that I was using while developing it. I didn't think anybody would use these instead of the tests which are there outside the include directory.

I will fix these. Thanks for reporting.

[2018-04-20 08:34] gramic commented on #9
Well, I really did intent to use those outside, but somehow I made a mistake too.

[2018-04-23 16:46] tkaplan opened #10 "All constructor argument types must model ParameterConcept"
Hi I'm trying to just extract a string value from my jwt token...

[code]

But it throws the error above. How am I suppose to work with raw values?

[2018-04-25 06:36] #9 closed

[2018-05-01 05:48] arun11299 commented on #10
@tkaplan
Could you provide an example ? Or have you solved this issue yourself ? It seems you may be using the API incorrectly.

[2018-05-01 19:12] sarbjit-longia opened #11 "Compilation error on VS2017"
Getting compilation error while using the library on windows using vs2017

cpp-jwt-master\include\jwt\detail\meta.hpp(229): error C3520: 'T': parameter pack must be expanded in this context
cpp-jwt-master\include\jwt\impl\jwt.ipp(300): error C2600: 'jwt::jwt_object::jwt_object': cannot define a compiler-generated special member function (must be declared in the class first)

[2018-05-02 07:04] arun11299 commented on #11
Hi,
Thanks for reporting. I have fixed the issue. Please do let me know if you face any other issue.

[2018-05-02 07:04] #11 closed

[2018-05-02 15:10] sarbjit-longia commented on #11
Thanks for fixing this issue. I just tested it and the issue for  error C2600: 'jwt::jwt_object::jwt_object': cannot define a compiler-generated special member function (must be declared in the class first) still remains, so logging another issue.

[2018-05-02 15:11] sarbjit-longia opened #12 "Compilation issue in VS2017"
error C2600: 'jwt::jwt_object::jwt_object': cannot define a compiler-generated special member function (must be declared in the class first)

[2018-05-02 15:13] sarbjit-longia opened #13 "Expects the two arrays in file base64.cpp to be in double curly braces on Linux."
https://github.com/arun11299/cpp-jwt/blob/9ddaa092cb2e989d88daea16c877a201be0b2258/include/jwt/base64.hpp#L68

Array on Line 161
Array on line 68

[2018-05-02 15:49] arun11299 commented on #12
Thanks for reporting VS compilation issues. I have not been able to test it as I do not have any windows platform.

Can you give me more details about this error. I would like to know which state is giving this error.

[2018-05-02 16:02] arun11299 commented on #13
Fixed with commit 2cb65f231a0df5292eda2b997bb76c10dab26613

[2018-05-02 16:02] #13 closed

[2018-05-02 17:13] sarbjit-longia commented on #13
Thanks :)

[2018-05-02 17:13] sarbjit-longia commented on #12
let me check

[2018-05-02 17:15] sarbjit-longia commented on #12
more issues but that one is fixed:

Severity	Code	Description	Project	File	Line	Suppression State
Error	C2664	'int EVP_DigestSignFinal(EVP_MD_CTX *,unsigned char *,size_t *)': cannot convert argument 3 from 'unsigned long *' to 'size_t *'	s_mmpa	cpp-jwt-master\include\jwt\impl\algorithm.ipp	253

Severity	Code	Description	Project	File	Line	Suppression State
Error	C2664	'int EVP_DigestSignFinal(EVP_

[2018-05-02 17:36] arun11299 commented on #12
I have pushed the changes for the above errors.
Please check.  Sorry for the trouble.

[2018-05-18 13:21] TheQuantumPhysicist opened #14 "Some tests don't pass"
Two tests don't pass. Please take a look:

First:
[code]
The second:
[code]
Both seem to be the same but with two versions, with and without exception.

How serious is this? Is there something I can do to fix this?

I'm on Ubuntu 16.04.

[2018-05-18 14:56] arun11299 commented on #14
Thanks for reporting.
I have fixed the issue. Can you take the latest clone and confirm ?

Thanks,

[2018-05-18 15:01] TheQuantumPhysicist commented on #14
Yep! That fixes the issue! Thanks a lot for the fast response (and for the professional testing provided).

Cheers!

[2018-05-18 15:01] #14 closed

[2018-05-19 10:48] TheQuantumPhysicist opened #15 "Tons of warnings about comparison between signed and unsigned integers"
There are over 10 warnings on comparison between signed and unsigned integers. My compiler sees them by default; if you can't, use the flag `-Wsign-compare`. Some times it's because of `auto`, and others just direct comparison of `int` with sizes.

It's quite a good idea to explicitly define these types and avoid these warnings. I always try to make sure that my warnings list is empty, so that I c

[2018-05-19 11:00] TheQuantumPhysicist commented on #15
OK. It turned out not to be in lots of places, but two places that are repeated many times. Here's the patch file to fix this (I ensured the tests still pass):

[code]

[2018-05-19 13:10] arun11299 commented on #15
Thanks again!!

Would you like to create a pull request for this patch so that I can commit your changes directly ?

[2018-05-19 14:31] TheQuantumPhysicist commented on #15
Done!

Cheers!

[2018-05-19 16:46] TheQuantumPhysicist commented on #15
I have found more similar warnings. I'll make another pull request.

[2018-05-21 23:47] TheQuantumPhysicist opened #20 "ES256/384 signature verification fails"
Starting from this test, I'm trying to get my stuff working. However, I failed at verifying the signature from the tests as a starting example. Something is wrong. I need ECC because it's more efficient than RSA. In this test that I got from the code:

[code]

I added that cout statement, then went to [jwt.io](https://jwt.io/#debugger), and it fails at verifying the signature. Something is wrong t

[2018-05-22 06:20] arun11299 commented on #20
Just to be clear, the test failed for you OR you are using the signature and trying to verify it on jwt.io ?

[2018-05-22 06:43] arun11299 commented on #20
So, I used PyJWT to verify the signature generated by my test. The signature fails in validation because of the expiry.
[code]

[code]

On setting verification to false:

[code]

[2018-05-22 10:46] TheQuantumPhysicist commented on #20
The test passes, that's no issue. But verifying the signature fails everywhere for me, which is why I went to a 3rd party, jwt.io, to make sure that my settings aren't the cause. On jwt.io they have an interactive debugger to see whether jwt tokens work, and the signature fails there. I'm using OpenSSL 1.02.

Your tests have "verify" set to false. So no verification is tested. Please explain wheth

[2018-05-22 11:40] arun11299 commented on #20
How were you trying to verify it ? You can use the python "pyjwt" module to verify the token as I have shown above. To make it pass the validation check you can set the expiry date to some future epoch. I also tested with the C based JWT library to test the generated token.

I have read somewhere before that on HMAC works properly on jwt.io. I am not sure whether that is true now.

[2018-05-22 11:48] TheQuantumPhysicist commented on #20
Well, even if we were to assume that jwt.io is broken, I'm unable to verify in the library. Setting `jwt::param::verify` to true will break the tests. Can you enable verify in all the tests? Without verification generating the tokens is not useful.

[2018-05-22 11:57] arun11299 commented on #20
I have not enabled the 'verify' flag in this particular test because there are already other tests in "test_jwt_decode_verifiy.cc" and "test_jwt_decode_verifiy_with_exception.cc" which does the validation tests.

I am afraid that I have not yet understood the problem here. Are you not able to use the library to generate valid tokens using your own claims ?
If what you want me to do is add another

[2018-05-22 12:04] TheQuantumPhysicist commented on #20
What is the problem: Turning the flag `jwt::param::verify` to true breaks the tests. I don't understand why.

There are no tests that verify es256/384/512 at all. Even in `test_jwt_decode_verify*`. So, yes, please add these tests.

If this is gonna take a while, I'd appreciate providing a working example here as soon as possible.

[2018-05-22 12:38] arun11299 commented on #20
I have added the test ES384EncodingDecodingValidTest. Let me know if this is fine for your urgent need.
I need to add more tests for these algorithms. I will do that later.

[2018-05-22 13:21] TheQuantumPhysicist commented on #20
Yep. This helps. Thanks!

[2018-05-23 14:59] jstarschuyler opened #21 "Unable to sign ES256 JWT"
I've been attempting to use this library in one of our projects for the past day but I am unable to sign the JWT with the ES256 algorithm. We are using Openssl 1.0.2 and it is correctly linked into our project.

We've followed your examples and test code:
[code]

I've managed to trace the issue to line `207` in `algorithm.ipp`:
[code]
`pkey` is getting set to `NULL`, which eventually causes an err

[2018-05-23 15:03] jstarschuyler commented on #21
I cannot disclose those.

[2018-05-23 19:42] jstarschuyler commented on #21
I was unable to get the tests running with our system. However I found this article which solved my problem: https://forums.developer.apple.com/thread/82950

Apparently Apple will provide a .p8 file looks like it's in the PEM format. OpenSSL requires the private key to be broken up into 64-character chunks per line.

[2018-05-23 19:42] #21 closed

[2018-05-30 13:38] TheQuantumPhysicist commented on #20
There's a claim that the signatures or non-compliant with the standard. Please take a look:

https://github.com/jsonwebtoken/jsonwebtoken.github.io/issues/321#issuecomment-393130721

[2018-05-30 14:13] arun11299 commented on #20
Thanks. I will first wait for a response on that thread to know which part of the specification is it not follows. That would save some time for me.

[2018-05-30 14:26] arun11299 commented on #20
@TheQuantumPhysicist On a second read, what I understood from that thread is that, the person verified the signature from his own implementation. Which is kind of what you did with python. Isn't your issue basically with the UI which the person on that thread has not addressed yet ?

[2018-05-31 00:05] #20 closed

[2018-05-31 00:16] TheQuantumPhysicist opened #24 "Why does the existence of a signature algorithm entail a required verification?"
In my code, I have parts where I need to extract the data from a token without verifying it (and without the key being available). Basically because the verification was done before and the token was authorized.

Now check out this part of the code:

https://github.com/arun11299/cpp-jwt/blob/077e6f3f07ec113d2ae24384d1b10870c059d04d/include/jwt/impl/jwt.ipp#L698

In line 698, the code gets the mess

[2018-05-31 04:14] arun11299 opened #25 "Replace asserts by exceptions or some other proper error control"
As noted in https://github.com/arun11299/cpp-jwt/pull/23, we need to remove asserts and replace that with proper error flow code path.

[2018-05-31 05:26] #10 closed, assigned to nobody

[2018-05-31 05:28] arun11299 commented on #24
How about using "NONE" algorithm for such cases ? Setting an algorithm and not using a key does not sound a realistic scenario to me.

[2018-05-31 12:29] TheQuantumPhysicist commented on #24
The thing is that the token is already there. It's not my choice of what algorithm goes into the token anymore. What I'd like to do is just decode an existing token. You're assuming that the dev who wants to extract contents from a token also has the power to decide the algorithm, which is not generally the case, unless one has to tamper with the token before extracting data from it. Also remember

[2018-05-31 14:16] arun11299 commented on #24
So the payload of the token anyways cannot be decided without the key. But the user can still get the decoded header which is the only thing that can be decided in this case.

[2018-05-31 14:34] TheQuantumPhysicist commented on #24
I feel what you said is a little ambiguous, but I guess my answer is yes. That's the situation. In the current state, the payload is unreachable through the API if no key was set, and in general, why is someone who wants to read the payload required to enter a key? I don't understand this.

Please remember that the payload is not encrypted. So decoding has nothing to do with the key being present.

[2018-05-31 14:38] arun11299 commented on #24
Payload is also available in decoded form in the object. Sorry I missed that.

[2018-05-31 14:43] arun11299 commented on #24
I will provide a fix to not do the signature verification.

[2018-05-31 14:44] TheQuantumPhysicist commented on #24
Please review my suggestion on how to fix this. It costs literally nothing. Just a cut and paste.

[2018-05-31 14:46] arun11299 commented on #24
@TheQuantumPhysicist Sorry I accidentally deleted your comment instead of mine and I dont know how to undo. Can you please add it back ? Really sorry for that.

[2018-05-31 14:49] TheQuantumPhysicist commented on #24
I was just suggesting that you review my suggestion on how to fix this. It just costs a copy and paste.

[2018-05-31 15:06] arun11299 commented on #24
Yes thats what needs to be done. I have few tests to fix which depended on that.

[2018-05-31 15:06] #24 closed

[2018-07-13 14:28] feliwir opened #26 "Add option to remove type fromt he jwt_header"
This is not valid for all kind of JWT usages. E.g. for apple push notifications that header is not allowed: https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html#//apple_ref/doc/uid/TP40008194-CH11-SW1

[2018-07-31 02:05] dwrensha commented on #26
I've also run into this issue.

According to the JWT RFC, the "typ" header field is optional (https://tools.ietf.org/html/rfc7519#section-5.1 ), but jwt-cpp returns an error when the "typ" field is not present: https://github.com/arun11299/cpp-jwt/blob/87dcef903f48a8c33df0bd9658d775d6d5db1918/include/jwt/impl/jwt.ipp#L89
I think it would be better to continue processing without an error in that ca

[2018-08-05 09:42] arun11299 commented on #26
Please look at the encode and decode tests "TestRemoveTypHeader" and "TypHeaderMiss" respectively.
I have added an API to remove the header.

[2018-08-05 09:42] #26 closed

[2018-08-16 09:22] Clinkz24 opened #27 "VS2015 compile fail"
d:\workspace\trd\curl-7.61.0\projects\windows\vc14\curl_test\jwt\string_view.hpp(352): warning C4003: not enough actual parameters for macro 'max'
1>d:\workspace\trd\curl-7.61.0\projects\windows\vc14\curl_test\jwt\string_view.hpp(353): warning C4003: not enough actual parameters for macro 'max'
1>d:\workspace\trd\curl-7.61.0\projects\windows\vc14\curl_test\jwt\string_view.hpp(354): warning C4003:

[2018-08-17 12:48] Farrukhqazi opened #28 "Some CMake issues"
While compiling in a statically build library for openssl I was required to add '-ldl' flag in examples\CMakeLists.txt as below

target_link_libraries(simple_ex1 ${OPENSSL_LIBRARIES} -ldl)

not sure if everyone faced the same issue and more specifically is a openssl issue rather jwt.

[2018-08-19 05:12] arun11299 commented on #28
Thanks for opening the issue.
Did you face the issue only with the examples code ? Or with the test code as well ?

[2018-08-20 13:52] Farrukhqazi commented on #28
It would be same for test code as well I believe.

However I am unable to build the test code as there seem to be some issue with gtest library as well. I am using v1.5.0 for gtest.  the following error appears if I try to build any test code
In file included from /home/satmapai/gtest/include/gtest/gtest.h:57:0,
                 from /mnt/d/PoC/cpp-jwt/tests/test_jwt_decode.cc:2:
/mnt/d/PoC/cpp-jw

[2018-08-20 15:11] Farrukhqazi opened #29 "Decoding error"
I might be doing something wrong but when I try the following code, it fails as an InvalidAlgorithmError.

[code]

Ideally I should be able to setup my code in order to receive the jwt token from a client and be able to decode and validate if its an authorized request?

[2018-08-21 08:30] arun11299 commented on #29
Hi,
In the "algorithms" parameter you have to explicitly mention the list of possible algorithms using which the string could have been encoded with. In your specific case, it was encoded using HS384. You can check this at http://jwt.calebb.net/.

So, changing you code to something like below should make it work.

[2018-09-02 13:04] arun11299 commented on #29
Please reopen if you still see an issue.

[2018-09-02 13:04] #29 closed

[2018-09-13 22:00] linsanefc opened #30 "How to Connect to OpenSSL"
Hello,

I was going through the "Installation" section of the "Read Me", and was unsure as to how to connect to OpenSSL using cmake within my project. I am using Visual Studio 2017 on Windows 10. When I try to #include "jwt/jwt.hpp" I am met with the errors "cannot open source file 'openssl/bn.h'" along with multiple other openssl files. I am relatively new to coding and it would help a lot if som

[2018-09-14 17:58] arun11299 commented on #30
Hello @linsanefc

Did you see the "cmake_command" file ? I have put the command to run cmake. I assume that you have installed OpenSSL in your machine.
Running that command (with the correct location the OpenSSL root directory and library from your system), you should be able to build the tests. It requires you to install GTEST as well.
ELSE, you can see the cmake example in "examples" directory a

[2018-09-20 17:50] linsanefc commented on #30
Hello @arun11299

Thank you for your help. I was able to install the OpenSSL and change the respective root directory/library in the cmake command, but am unsure about how to run the cmake command in Visual Studio 2017. I have a project I am working on, and want to be able to use this JWT library in it. It would be very helpful if you could guide me through this process. Thank you.

[2018-09-21 07:13] arun11299 commented on #30
I found this link useful.
http://preshing.com/20170511/how-to-build-a-cmake-based-project/

[2018-09-27 07:14] krzysztofwos opened #31 "'str_to_type' has a non-throwing exception specification but can still throw"
I just saw this warning while building version 1.1.0 using Clang 7. Potentially serious issue, an exception would result in an immediate call to `std::terminate`

[code]

[2018-09-28 18:54] arun11299 commented on #31
Thanks for reporting the issue.
Fixed it.

[2018-09-28 18:54] #31 closed

[2018-09-29 01:50] krzysztofwos commented on #31
Thanks for writing the library in the first place :)

On Sat, Sep 29, 2018 at 3:54 Arun Muralidharan <notifications@github.com>
wrote:

[2018-10-01 23:10] acceleratxr commented on #27
I'm having the same problem. Trying to compile under Visual Studio 2017.

[2018-10-03 17:06] arun11299 commented on #27
Hi @acceleratxr and @Clinkz24
Thanks for reporting the issue. Making it compile for VS sucks. I have put in few fixes.
Can you please check and let me know if you are getting more errors ? Unfortunately that is the only way I will be able to fix windows errors.

Thanks

[2018-10-08 07:16] arun11299 commented on #27
Any updates guys ?

[2018-10-08 18:47] acceleratxr commented on #27
I was able to solve it a different way. I added the following to jwt/algorithm.hpp

`#if defined(_WIN32) || defined(_WIN64)
#define snprintf _snprintf
#define vsnprintf _vsnprintf
#define strcasecmp _stricmp
#define strncasecmp _strnicmp
#endif`

It now compiles but when I generate a token they all have invalid signatures.

[2018-10-09 07:34] arun11299 commented on #27
@acceleratxr Thanks for the update. Are the tests also failing with the latest pull ?

[2018-10-23 20:45] mhfrantz opened #33 "Move semantics"
It would be nice if `jwt_object` supported move semantics:
[code]
If this is acceptable, I can provide a PR.

[2018-10-24 06:16] arun11299 commented on #33
Thanks. Is it not already ? I think all the members are move assignable and move copyable. Thus by "rule-of-zero" jwt_object should be too. Maybe defaulting it explicitly is a good way.

[2018-10-24 14:42] mhfrantz commented on #33
I think the problem is that by not declaring them, the template constructor is a "universal reference" which is preferred by the compiler over the automatically generated one. When I tried to use the move constructor, my compiler (GCC 7.3) tried to use this one instead:
[code]
Then it failed because `jwt_object` does not model the parameter concept.

[2018-10-24 19:16] arun11299 commented on #33
Ah..ok. Thanks.
Please provide a PR so that I can merge those changes.

[2018-10-25 17:50] mhfrantz opened #36 "Narrowing errors compiling for ARM"
When compiling for ARM, we get errors like this:
[code]
The issue is described here: https://stackoverflow.com/questions/31634962/narrowing-conversion-from-int-to-char-inside-for-legal-values-when-cro

The solution is to use `signed char` in places where you want to make sure the values are interpreted as signed integers.

[2018-10-27 06:40] arun11299 commented on #36
Thanks. Fixed it.

[2018-10-27 06:40] #36 closed

[2018-10-27 11:29] zhaowenlan1779 commented on #27
This still does not work for me. `strcasecmp` is not a standard library function. It resulted in build failures in our project: https://ci.appveyor.com/project/bunnei/citra/builds/19841580/job/68b49cbmyiwsnl0a/messages

I hope this get fixed soon. For now I guess I'll have to use the `#define` workaround

[2018-10-27 14:12] arun11299 commented on #27
@zhaowenlan1779  Do you think I can close this issue as it is working for you ? All the tests work with VS ?

[2018-11-20 04:10] darrenjs opened #37 "compile error with master"
Hi ... trying to build lastest version of master, but getting compile error below.  I am trying to build the first example  found on the main page.

However, I don't get this error with release  v1.1.0

[code]

[2018-11-20 13:38] arun11299 commented on #37
I have pushed a fix. Can you check it once ?

Thanks.

[2018-11-20 23:16] darrenjs commented on #37
Fixed, thanks

[2018-11-20 23:16] #37 closed

[2018-11-21 05:45] arun11299 commented on #33
This is already addressed in another PR

[2018-11-21 05:45] #33 closed

[2018-11-21 05:45] arun11299 commented on #27
Please reopen if still an issue.

[2018-11-21 05:45] #27 closed

[2018-12-28 07:21] lzy1g1225 opened #38 "Numbers not support in payload"
Hi, I tried modify the basic sample code from
" jwt::jwt_object obj{algorithm("HS256"), payload({{"some", "payload"}}), secret(key)}; "
to
" jwt::jwt_object obj{algorithm("HS256"), payload({{"some", 123}}), secret(key)}; "
and getting compilation error
"Severity	Code	Description	Project	File	Line	Suppression State
Error	C2664	'jwt::params::detail::payload_param<std::unordered_map<std::string,std::

[2018-12-28 07:35] lzy1g1225 commented on #38
After checking documentation I noticed the payload cannot be initialized by parameters other than string and string_view, for this reason I have to convert my parameter from numbers to string, I think this could impact the performance, could you improve that?

[2019-01-07 15:07] arun11299 commented on #38
@lzy1g1225 I am closing this issue for now as there is an alternative API available using which you wouldn't need to convert number to a string. I understand that it is bit more verbose, but that's what we have now :D.
Please do reopen if you think otherwise.

Thank You.

[2019-01-07 15:07] #38 closed

[2019-01-07 15:07] arun11299 commented on #30
@linsanefc Please reopen if you need any further help.

Thank You.

[2019-01-07 15:07] #30 closed

[2019-02-05 16:30] RussellGantman commented on #20
I am having a slightly different issue.
Here is a snipplet of my code:
`
			string key;
			key = "-----BEGIN EC PRIVATE KEY-----";
			key += "MIGkAgEBBDB8YMz3/Yv2s9mQBu2xMCO0+re/4OSFZ9umo7QxyvtsNFoZ+R7dxQht";
			key += "rSsQSz4J2pegBwYFK4EEACKhZANiAAQrqEsbTf0ajcsB/OYUmgNRD4fDHswkKQJo";
			key += "0WF2w0xQQvbycnnkgADJwZYwW7NhpMv5YsIS6Z9GGBl3ZrBRZYme8nWxAI3Cjt+9";
			key += "R5UiKDqd/vJqiHoM13HIeSqh

[2019-02-06 07:58] arun11299 commented on #20
Dont you need to add a new line in the key ?

[2019-02-06 14:29] RussellGantman commented on #20
Thank you. When I added the new line. It worked perfectly.

[2019-02-19 17:50] arun11299 commented on #28
Closing it due to inactivity.

[2019-02-19 17:50] #28 closed

[2019-04-05 13:07] XM37 opened #43 "Verify JWT token with Certificate"
Hello,

is it possible to verify the JWT token with a certificate? I tried it with following code line:

`auto dec_obj = jwt::decode(token, jwt::params::algorithms({"rs256"}), jwt::params::aud(audience), jwt::params::secret(key), jwt::params::verify(true));`

but i get the following exception:
**verification failed**

What is wrong? How can i verify the signature with using a certificate

[2019-04-07 11:04] arun11299 commented on #43
Hello,
Can you post a complete example reproducing the issue ?

Thanks

[2019-04-08 09:31] XM37 commented on #43
yes of course:

[code]

This is the JWT Token:

And this is the certificate:

[2019-04-09 08:07] arun11299 commented on #43
Thanks.
I am getting below failure reason:
`C++ exception with description "token expired" thrown in the test body.`

There are the header and payload with verification turned off:
[code]

[2019-04-09 08:07] arun11299 commented on #43
Would it be possible to share the private key as well ?

[2019-04-11 08:00] XM37 commented on #43
I don't have any private key. Its a third-party app.
So I found a solution: I must extract the public key from the certificate and than it works!

[2019-04-11 08:00] #43 closed

[2019-04-11 12:27] XM37 opened #44 "verify list in audience claim"
Hi,

i will verify an item inside the audience claim. How can i do this?

A short example:

[code]

how can i verify one of these items inside the JWT token?

I have following decoding statement in my code:
`jwt::decode(token, jwt::params::algorithms({algorithm}), jwt::params::aud("normal_user"), jwt::params::secret(key), jwt::params::verify(true));`

But if I run these piece of code I will receiv

[2019-04-12 19:56] arun11299 commented on #44
Will take a look at it tomorrow.

[2019-04-14 10:25] arun11299 commented on #44
Hi,
I am not able to reproduce the same issue. There seems to be issue with your JSON data types. An example being the "InvalidIATTest" test.

Can you give me a complete example ?

Thanks.

[2019-04-25 20:45] webfolderio opened #45 "Thread Safe"
hi,

is this library thread safe? If yes which methods? Verify, generate etc...

[2019-04-26 10:22] arun11299 commented on #45
H i @webfolderio
This library does not assume anything about thread safety. So, I would say that it is as thread safe as an std::vector.
Since the library uses OpenSSL, it would be better to make sure that you call verify/sign/decode under a mutex.

[2019-04-26 10:43] webfolderio commented on #45
Thanks for the clarification.

[2019-04-26 10:43] #45 closed

[2019-04-27 13:23] Ludea opened #46 "Invalid issuer with no option for this"
Hello,

I try to decode and verify a remote jwt.
I check error value, and get a `InvalidIssuer`
And I get ```{"alg":"none","typ":"JWT"}
null```
Here my code
[code]

[2019-04-29 11:22] arun11299 commented on #46
Hi @Ludea
Would you be able to provide me the token and the key to reproduce the issue ?
Please feel to mail me if it is something you cannot share on github but can share it privately.

Thanks!

[2019-05-25 16:30] arun11299 commented on #44
@XM37 Is it still an issue ?

[2019-05-27 11:45] #44 closed

[2019-06-03 12:52] kwegener1 opened #48 "Error when calling the function "get_claim_value""
Hello,
I'm in it and testing your library. The decoding worked. Now I would like to read out a value via the function get_claim_value().

`std::error_code ec;`
`auto decodeObj = jwt::decode(strFeatures.toStdString(), algorithms({"RS256"}), ec, secret(keyPublicKey.toStdString()));`

`jwt::string_view claimName = "Webvisu";`
`auto claimValue = decodeObj.payload().get_claim_value(claimName);`
`std::c

[2019-06-13 17:33] arun11299 commented on #48
Just seeing it now. I will take a look at it and get back.

[2019-06-13 17:40] arun11299 commented on #48
The first error is because you need to explicitly provide the template parameter. There is no type deduction happening there as the type 'T' is not being used as the function argument.

As for the second case, its the nlohmann json library having some issue in supporting jwt::string_view. I will have to look into it. By that time, can you try doing:

[code]

[2019-06-14 09:33] kwegener1 commented on #48
It works!

[2019-06-14 13:28] #48 closed

[2019-07-18 23:40] armaansood opened #51 "rs256 secret destructs after call"
`auto dec_obj = jwt::decode(enc_str, algorithms({ "rs256" }), secret(key));`

where key is: `auto key = R"(-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoRRQG+ib30x09eWtDpL0
wWahA+hgjc0lWoQU4lwBFjXV2PfPImiAvwxOxNG34Mgnw3K9huBYLsrvOQAbMdBm
E8lwz8DFKMWqHqoH3xSqDGhIYFobQDiVRkkecpberH5hqJauSD7PiwDBSQ/RCDIj
b0SOmSTpZR97Ws4k1z9158VRf4BUbGjzVt4tUAz/y2cI5JsXQfcgAPB3voP8eunx
GwZ/iM

[2019-07-25 08:42] jonahcwest opened #52 "PEM encoded public keys"
Using a PEM encoded public key like the following:

    -----BEGIN CERTIFICATE-----
    abc123...
    -----END CERTIFICATE-----

And decoding it with the following:

    try {
        auto decoded = jwt::decode(token, algorithms({"rs256"}), secret(cert));
    } catch (jwt::InvalidSignatureError &e) {
        std::cout << e.what();
    }

where `cert` is the certificate above, a `jwt::InvalidSignat

[2019-07-26 14:42] arun11299 commented on #51
@armaansood
Thanks for reporting the issue. I have not understood the issue exactly. Would you be able to provide with a small example reproducing the issue ?

[2019-07-26 14:43] arun11299 commented on #52
@jonahcwest
Would it be possible to share the certificate that you are testing with privately ? If you can please do send it out on arun11299@gmail.com.

Also provide the OS, openssl version that you are using.

[2019-07-28 01:16] jonahcwest commented on #52
The certificate is the Google OAuth certificate from [googleapis.com/oauth2/v1/certs](https://www.googleapis.com/oauth2/v1/certs). The result of `openssl version` is `OpenSSL 1.1.1c  28 May 2019`. I'm using the `debian:buster` Docker image.

I'm pretty sure I was using the correct key and all, but I'm going to give it another shot.

[2019-08-17 00:59] #52 closed

[2019-10-01 09:23] russov commented on #51
Looks like I faced the same the issue.
I generated jwt via jwt.io using rs256: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.POstGetfAytaZS82wHcjoTyoqhMyxXiWdR7Nn7A29DNSl0EiXLdwJ6xC6AfgZWF1bOsS_TuYI3OG85AmiExREkrS6tDfTQ2B3WXlrr-wp5AokiRbz3_oB4OxG-W9KcEEbDRcZc0nH3L7LzYptiy1PtAylQGxHTWZXtGz4ht0bAecBgmpdgXMguEIcoqPJ1n

[2019-10-01 10:15] arun11299 commented on #51
@russov
I think you guys are not providing the key in correct format i.e without proper newline between lines.
This worked for me:
[code]

Can you confirm the same ?

[2019-10-04 21:10] sean24 opened #53 "Assume "typ" is "JWT" when it absent from JOSE."
I am using an OAUTH server that does not include "typ" in HOSE. This will be treated as error in jwt_header::decode. According to RFC 7519, it seems better to assume "typ" to be "JWT" if it is absent.

According to RFC 7519 Section 5.1 "typ" (Type) Header Parameter:
"This is intended for use by the JWT application
   when values that are not JWTs could also be present in an application
   data str

[2019-10-08 07:53] arun11299 commented on #51
Please reopen if the issue is seen again.

[2019-10-08 07:53] #51 closed

[2019-10-08 08:52] arun11299 commented on #53
Thanks for reporting. I will take a look into it.

[2019-10-12 13:51] arun11299 commented on #53
@sean24 Are you trying with the latest code ? I am able to decode a JWT without typ field. After decoding it assigns the value "JWT" by default.

Can you please check with the latest pull ?

[2020-03-02 05:34] gramic opened #61 "Deprecated BIO_f_base64 from boringssl"
The BIO_f_base64 is deprecated in boringssl.
The function is used in the [ include/jwt/impl/algorithm.ipp][1].

Isn't it better to use your own [base64] functionality instead?

[1]: https://github.com/arun11299/cpp-jwt/blob/87dcef903f48a8c33df0bd9658d775d6d5db1918/include/jwt/impl/algorithm.ipp#L36
[base64]: https://github.com/arun11299/cpp-jwt/blob/master/include/jwt/base64.hpp

[2020-05-05 17:15] arun11299 commented on #61
Thanks for reporting. I will take a look at it.

[2020-05-07 00:36] sudo-panda opened #63 "Error while building"
I am building the library on `Ubuntu 18.04`. First of all `cmake --build . -j` gives me `Unknown argument -j` so I tried building using `cmake --build .`. Which proceeds to give me this error:

_Added to [this gist](https://gist.github.com/sudo-panda/42acfd4960d913fc01460411a370c79e) to shorten issue_

I am not sure why these errors appear. But they are related to `GTest` and `OpenSSL` libraries.

[2020-06-09 01:46] chenboy3 commented on #61
Hi, also running into this issue, are there any updates on this issue?

[2020-06-11 15:48] NJ261 commented on #63
I have tried to reproduce the issue with docker and Conan.

Conan sets `compiler.libcxx` to `libstdc++` for backward compatibility [link](https://docs.conan.io/en/latest/howtos/manage_gcc_abi.html) and GTest 1.10 requires the new implementation of `std::string`. So set the `compiler.libcxx` to `libstdc++11`.

You can also set the compiler version while installing missing dependency like: `conan in

[2020-06-11 16:19] sudo-panda commented on #63
@NJ261 is there a way to build it without conan?

[2020-06-13 07:19] arun11299 commented on #61
Hell @chenboy3 @gramic
I have verified the fix with the existing tests. It would be great if you could verify the same.

Thanks.

[2020-06-13 07:19] #61 closed

[2020-06-13 07:23] arun11299 commented on #63
There has been really good contribution from @gocarlos and others on the overall build side.
@gocarlos Do you have anything to say on the build question ?
Thanks

[2020-06-13 07:23] arun11299 commented on #53
Closing this issue for now.

[2020-06-13 07:23] #53 closed

[2020-06-13 09:37] gocarlos commented on #63
sure, the cmake build system here is not depending on conan.
you can use conan, debian packages, vcpkg, or install the needed packages manually to your system

all cmake does is using the find_package functionality which the package manager can provide, though not mandatory.

[2020-06-13 09:38] gocarlos commented on #63
is this not working for you?

https://github.com/arun11299/cpp-jwt#using-debian

[2020-06-15 17:24] chenboy3 commented on #61
Works for me, thanks again!

[2020-07-02 17:02] dempo93 opened #65 "INCLUDES not exported by cmake"
Importing the target `cpp-jwt::cpp-jwt` by means of `target_link_libraries(target PUBLIC cpp-jwt::cpp-jwt)` results in a compilation error
[code]
This can be easily avoided by modifying the following install command
[code]
and add an INCLUDES directive
[code]

[2020-08-28 14:25] dempo93 commented on #65
Got confused by my own customization of the CMakeLists file. gonna close

[2020-08-28 14:25] #65 closed

[2020-09-07 00:03] petef19 opened #68 "Need Help W/ OpenSSL Dependency"
Hi,

I'm on Win 10 x64 and I'm trying to compile the cpp-jwt package in CLion, but it throws this error message:

`Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the system variable OPENSSL_ROOT_DIR (missing: OPENSSL_INCLUDE_DIR)`

I have set the Windows env vars `OPENSSL_ROOT_DIR` and `OPENSSL_INCLUDE_DIR` and pointed both of them to the path of my OpenSSL executables which

[2020-09-07 11:57] arun11299 commented on #68
There are few things I would check:
1. Is the openssl installed correctly and the path you are setting pointing to the expected location ?
2. The error message I am really not sure if its really not able to find the system variable or because of some error. Can you check why the system variables are not being found even after being set (if thats really the case) ?

I am not familiar with the windo

[2020-09-07 12:06] gocarlos commented on #68
Try the following in the powershell:

[code]

[2020-09-07 12:07] gocarlos commented on #68
Try the following in the powershell:

[code]

[2020-09-07 12:08] gocarlos commented on #68
Do did compile openssl right? You can also try conan which has the openssl already compiled for you: https://conan.io/center/openssl/1.1.1g

[2020-09-07 20:44] petef19 commented on #68
`Is the openssl installed correctly and the path you are setting pointing to the expected location ?`

I downloaded executables from ICS [here](http://wiki.overbyte.eu/wiki/index.php/ICS_Download#Download_OpenSSL_Binaries_.28required_for_SSL-enabled_components.29), then simply put them in a location and set the Windows env vars.

`Try the following in the powershell`

CLion uses the CMakeLists.txt

[2020-09-07 21:50] gocarlos commented on #68
This will not work, the files you downloaded are not for development, there are no headers in the zip file...

[2020-09-07 21:59] gocarlos commented on #68
You need to download the source code of openssl and compile it by yourself like in the 90s or use a modern package manager ala vcpkg, choco or conan (my favorite)

If you use conan, then you do not have to set any env variables, see
https://docs.conan.io/en/latest/howtos/cmake_launch.html

But at the end of the day: cpp-jwt is also in the conan repository, no need to deal with openssl if you just

[2020-09-07 22:07] petef19 commented on #68
@gocarlos

I've not worked w/ Conan before. Is there a step-by-step walk-through on what to do to compile cpp-jwt (via Conan) so that I can use it in my C++ code ?

Thanks !

[2020-09-08 05:48] gocarlos commented on #68
See the link above and add ‘cpp-jwt@[1.2]’ to your conanfile or require it directly in the cmake file as per above example behind the link

[2020-09-08 05:52] gocarlos commented on #68
First `pip install conan —upgrade`

Then massage your cmake:
[code]

[2020-09-08 07:41] petef19 commented on #68
alright, I got `conan 1.29.0` installed via pip.

Your last post is a `CMakeLists.txt` file. Where does that go ?

Does that replace the `CMakeLists.txt` file in the `cpp-jwt` root ?

[2020-09-08 07:42] gocarlos commented on #68
are you developing the `cpp-jwt` or just using the `cpp-jwt` in your project?

[2020-09-09 02:07] petef19 commented on #68
Just using it in my project.

I need to use json webtokens so I was looking into `cpp-jwt`.

[2020-09-09 05:26] gocarlos commented on #68
In that case you take the cmake script above and just add your sources in add executable

[2020-09-09 20:25] petef19 commented on #68
Does the script above replace the `CMakeLists.txt` file in the `cpp-jwt` root ?

[2020-09-09 20:27] gocarlos commented on #68
it replaces your projects cmakelists, though you need to adapt `add_executable` to add your sources

[2020-09-09 20:37] petef19 commented on #68
so are  you saying I don't need to compile cpp-jwt first to be used in my project, I just simply add the conan set up and requirements to my project's `CMakeLists.txt` file ?

If I wanted to compile `cpp-jwt` on it's own (I assume via conan), to then simply load the compiled library in my `CMakeLists.txt` file, how would that work ?

[2020-09-09 20:40] gocarlos commented on #68
so are you saying I don't need to compile cpp-jwt first to be used in my project, I just simply add the conan set up and requirements to my project's CMakeLists.txt file ?

yes

    If I wanted to compile cpp-jwt on it's own (I assume via conan), to then simply load the compiled library in my CMakeLists.txt file, how would that work ?

dont know what you mean... by using the script above you can u

[2020-09-09 20:41] petef19 commented on #68
ok, I will try that

Thanks !

[2020-09-09 23:07] petef19 commented on #68
ok, I tried but get error. This is my file:

`cmake_minimum_required(VERSION 3.16)
project(untitled)

set(CMAKE_CXX_STANDARD 14)

# Download automatically, you can also just copy the conan.cmake file
if(NOT EXISTS "${CMAKE_BINARY_DIR}/conan.cmake")
   message(STATUS "Downloading conan.cmake from https://github.com/conan-io/cmake-conan")
   file(DOWNLOAD "https://raw.githubusercontent.com/conan-io/

[2020-09-12 21:22] petef19 commented on #68
@gocarlos

Following up on my last post, can you please assist how to use conan in my Py venv when building the C++ project ?

Thanks.

[2020-09-12 21:36] gocarlos commented on #68
First I'd suggest to install globally, not with py env...

i recommend that you join the cpp slack chat: https://cpplang.slack.com/

there you get support on a ton of libraries, conan, cmake, compilers etc...
this is less a support channel :(

[2020-09-12 22:23] petef19 commented on #68
Right, while this sounds great, my point opening this ticket was rather that I may not be the only one running into this issue...

so for future users, it would be good to a **_proper guide_** on how to use this package via conan...

otherwise, why share if peeps can't get it to work.

[2020-09-16 19:51] gocarlos commented on #68
there are already instructions on how to use this library using conan: https://github.com/arun11299/cpp-jwt#consuming-the-library

though how to use conan itself is not explained here not should it: conan has extensive documentation (https://docs.conan.io/en/latest/) and there are tons of examples on github, see for example
 https://github.com/expresscpp/expresscpp

[2020-10-12 08:08] sherike opened #69 "compilation issue"
I tried incorporating the project code and use it in a unit test. but when i try to compile it i get the errors below.

pp-jwt/include/jwt/jwt.hpp:449:31: erro**r: no matching function for call to ‘**std::set<std::basic_string<char>, jwt::jwt_set::case_compare>::find(const string_view&)’
     return headers_.find(hname) != std::end(headers_);
                               ^
/cpp-jwt/include/jwt/j

[2020-10-28 06:10] GeneratedNickname opened #70 "Asymmetric API - can set system_time_t, but not get"
The method add_claim has an overload for system_time_t, but get_claim_value does not. One would expect symmetry in that regard.

[code]

[2020-11-12 20:44] Boomslangnz opened #71 "Need help with decoding jwt"
Hi there,

I am new at trying to decode jwt etc and have made a node.js api which im sending back json to a c++ program.

I must be doing something wrong as I want to encrypt the jwt from node.js and decrypt it on c++ using cpp-jwt

But what im finding is I recieve the encrypted jwt on c++ and decrypting doesn't seem to occur at all even if using correct key etc, it stays encrypted after.

Any sug

[2020-11-13 17:16] arun11299 commented on #71
Hello @Boomslangnz
My suggestion to create a reproducible example:
1. Capture the JSON string being sent to C++ server.
2. Create a test C++ decoder program as shown in the many test files in the repo.

If you still have trouble with the test, then please share the test code here and we will see.

[2020-11-13 17:17] arun11299 commented on #70
Thanks! Do you want to send a pull request for it ?

[2020-11-13 17:28] GeneratedNickname commented on #70
If that helps I probably can. Whatever works best for you.

[2020-11-14 10:56] Boomslangnz commented on #71
Thanks alot for the reply. I worked out my issue in the end and successfully decoded 👍

Great work

[2020-11-14 10:56] #71 closed

[2020-12-11 14:37] noctera opened #74 "Problems installing this lib"
Hi I have some Problems installing this lib on Linux Manjaro

I have cloned this project moved into the directory and

[code]
to build it. Everything was fine with it. Openssl was also found. No Error.
But when executing ```cmake --build build``` I get the following error

PS: Conan isn't working either

[code]

[2020-12-13 09:08] williamswhy opened #77 "OpenSSL 1.1.1 without libressl causes issue"
I think there is an issue in this line of code
[code]
I don't have libressl installed so `LIBRESSL_VERSION_NUMBER` for me is undefined. In this case, the second half of the if statement is always true.
I am using openssl-1.1.1f. The code will not compile due to this.

Currently, I manually define the libressl version in cmake as a workaround
[code]

[2020-12-14 07:47] arun11299 commented on #77
Hello @williamswhy
Can we close this if your patch addresses this issue ?

[2020-12-14 07:50] arun11299 commented on #74
Hello @noctera
Can you provide more details on which openssl version you are trying to link against ?

[2020-12-14 07:52] williamswhy commented on #77
I actually think #75 is the correct patch

[2020-12-14 09:13] noctera commented on #74
I'm trying to build it with this openssl version
```OpenSSL 1.1.1h  22 Sep 2020```

[2020-12-17 05:09] williamswhy commented on #77
Issue resolved! Thank you!

[2020-12-17 05:09] #77 closed

[2020-12-18 08:31] arun11299 commented on #74
Hmm..I can suggest 2 things for now:
1. Try with maybe an older open ssl version.
2. Check if comments in https://github.com/arun11299/cpp-jwt/issues/68 help.

I would suggest #2 where @gocarlos has suggested or explained the build in quite a detail.

[2020-12-29 04:48] tallytaxo opened #78 "Jwt objet to json string"
I need example to split the token in three parts and how to use individual parts later

[2020-12-29 09:20] ybbetter commented on #74
Ubuntu16.04
OpenSSL 1.0.2g  1 Mar 2016
I have the same problem,how can I fix it?

[2021-01-03 07:36] #78 closed

[2021-01-03 07:37] tallytaxo commented on #78
solved, but need for examples on this awesome work

[2021-02-11 22:34] LukeMauldin opened #79 "msvc 2019 link error"
I am using version 1.3 of the library with MSVC 2019 with cmake.  I have a function that reads a token and that function compiles, links, and runs correctly.  I have a similar function that creates a new token but that function fails to link with the error below:
[code]

[2021-02-24 03:50] vstumpf opened #81 "Remove the cpp11 tag on Github"
There's a `cpp11` tag in the About window of the repo, yet it doesn't actually support c++11.

Can you please remove it.
![image](https://user-images.githubusercontent.com/6844975/108944792-560a4500-7610-11eb-9558-98e10431666e.png)

[2021-02-25 02:54] arun11299 commented on #81
I am not sure what you mean by it doesn't support C++11. The code does not compile without atleast C++11 standard.

[2021-02-25 02:56] vstumpf commented on #81
The README says
[code]
Is this no longer the case?

[2021-02-25 03:00] arun11299 commented on #81
Good catch. I really don't remember what is that about :). It certainly uses C++11 features, no doubt. Maybe I meant using C++14/17 std::string_view et al instead of hand rolled one.

[2021-07-01 09:16] yateam opened #83 "How do I include your library?"
Hello, I built the code:
[code]
and then opened cpp-jwt.sln and built ALL_BUILD project in vs studio project.
But I did not get any library files as an output. What did I do wrong?

How to include your project into my project?

[2021-07-06 05:52] arun11299 commented on #83
@yateam Not sure at the momemt, but have you checked some of the old issues ? You might find some clue there.

[2021-10-09 08:54] Ruuddenbekker opened #84 "Visual Studio will not find "jwt/jwt.hpp""
I'm using VisualStudio 2019 Communitiy edition and I am trying to use cpp-jwt.

I've tried building using the Visual studio cmake handling.
Building returns no errors, but when trying to create my own application
(console app) with a cpp file with:

#include <iostream>
#include "jwt/jwt.hpp"

int main() {
	return 0;
}

returns an error that jwt/jwt.hpp can not be found.
Adding include libraries do

[2021-10-09 10:38] Ruuddenbekker commented on #84
Do I need to add a refereence to the cmake project somehow in VisualStudio?
If so, How can I do that?

[2021-10-09 12:37] arun11299 commented on #84
Can you figure out the compiler command that is being executed. Will get more idea on why it is not able to find the header file.

[2021-10-10 10:04] Tradias opened #85 "Vcpkg port"
It would be nice to make this library available from vcpkg.

[2021-10-12 14:29] Ruuddenbekker opened #86 "error C4996: 'EVP_PKEY_get1_EC_KEY': Since OpenSSL 3.0 and a few more"
L.S.,

When I try to build a program using your library, I still get the following errors:
1>D:\VisualStudioProjects\cpp_jwt\include\jwt\impl\algorithm.ipp(113,24): error C4996: 'EVP_PKEY_get1_EC_KEY': Since OpenSSL 3.0
1>D:\VisualStudioProjects\cpp_jwt\include\jwt\impl\algorithm.ipp(119,9): error C4996: 'EC_KEY_get0_group': Since OpenSSL 3.0
1>D:\VisualStudioProjects\cpp_jwt\include\jwt\impl\algo

[2021-10-12 14:42] #86 closed, assigned to nobody

[2021-10-16 14:55] arun11299 commented on #84
Can you show an example of what you are trying to do ?

[2021-10-20 10:09] GeneratedNickname opened #90 "Empty signature part triggers assert"
`jwt_object::three_parts` tries to read part three with negative length. Expected: Some kind of invalid_format error.

Reproduction:

[code]

[2021-10-20 11:12] GeneratedNickname opened #91 "Allow jwt::params::algorithms with enum values"
Currently needed:

[code]

Expected:

[code]

[2021-10-21 12:48] #85 closed, assigned to nobody

[2022-06-07 11:32] oxc-v opened #93 "get claim value"

[2022-06-11 05:38] #93 closed

[2022-07-02 23:02] TennisBowling opened #94 "Not able to call `payload()` with a string"
I'm currently trying to use `jwt::params::payload()` in making a jwt_object, but my "payload" is a string (json string). I'm not sure how to get it into `payload()`.

[2022-08-17 00:36] mtmulch1 commented on #7
@arun11299 was working a library that would incorporate your library. Thanks for sharing. Looks like this has been open for awhile. What a simple perror suffice for this first issue?

[2022-08-17 07:43] arun11299 commented on #7
@mtmulch1 I guess that should be sufficient. But it needs some protection with "ifdefs" for compilation to work across windows and linux.